body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ecf0f1;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("http://rubicamag.r.u.pic.centerblog.net/papier-rouge-rose.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: 'Raleway Dots', cursive;
}

nav {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #ecf0f1;
    box-shadow: 0px 15px 30px 10px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=180, Strength=30);  

}

nav ul {
    margin-top: 0;
    padding-top: 0;
}

nav li {
    display: inline-block;
    color: gray;
    padding: 14px;
    margin: 1%;
    text-decoration: none;
    list-style: none;
    border-radius: 15px;
}

nav li:hover {
    color: black;
    background-color: white;
}

.text {
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#contenu_principal {
    margin-left: 15%;
    max-width: 43%;
    background-color: white;
    padding: 2% 5% 3% 5%;
    text-align: justify;
    border-radius: 10px;
}

#contenu_principal h1 {
    font-family: 'Major Mono Display', monospace;
    padding-bottom: 3%;
    padding-top: 4%;
}

#contenu_principal p,
li {
    font-family: 'PT Sans', sans-serif;
}

i {
    float: right;
    color: grey;
    margin-top: 10px;
}

i::before {
    content: '-- ';
}

aside {
    margin-right: 15%;
    max-width: 27%;
    background: white;
    padding: 1%;
    margin-left: 2%;
    border-radius: 10px;
}

h3 {
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
}

aside ol {
    list-style: none;
    counter-reset: ctr;
}

aside li {
    padding: 5px 2px 10px 5px;
    text-indent: -2em;
    counter-increment: ctr;
}

aside li::before {
    content: counter(ctr) '. ';
    font-size: 28px;
    font-weight: bold;
}

aside li button {
    position: relative;
    left: 60%;
    background-color: #ecf0f1;
    color: grey;
    padding: 12px 24px;
    margin: 10px 0 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

aside li button:hover {
    background-color: #ff0066;
    color: white;
}

form {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 8%;
    margin-top: 80%;
    background-color: #ecf0f1;

}

label {
    font-family: 'Lobster Two', cursive;
    font-size: 1.3em;
}

form button {
    background-color: #555;
    color: white;
    padding: 12px 24px;
    margin: 10px 0 10px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

form button:hover {
    background-color: #ff0066;
    color: white;
}

#ma_div {
    display: flex;
    z-index: -2;
}

footer {
    text-align: center;
    box-shadow: 0px -20px 40px 20px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=90, Strength=20);

}

footer p {
    font-family: 'Raleway Dots', cursive;
    font-size: 1.5em;
    padding-top: 2%;
}

footer img {
    width: 2%;
    height: auto;
    padding: 2%;
}